[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Inventory manager based on Postgresql and ZendFramework
[access "refs/*"]
	owner = group user/Sean Keys (seank)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sean Keys (seank)
	label-Verified = -1..+1 group user/Sean Keys (seank)
	push = group user/Sean Keys (seank)
	read = group user/Sean Keys (seank)
	rebase = group user/Sean Keys (seank)
	removeReviewer = group user/Sean Keys (seank)
	submit = group user/Sean Keys (seank)
[access "refs/heads/*"]
	create = group user/Sean Keys (seank)
	push = +force group user/Sean Keys (seank)
	pushMerge = group user/Sean Keys (seank)
	read = group user/Sean Keys (seank)
[access "refs/tags/*"]
	push = group user/Sean Keys (seank)
	push = +force group user/Sean Keys (seank)
